# Chap2 流程控制

In [2]:
a=eval(input("請輸入數字a:"))
b=eval(input("請輸入數字b:"))
if a>b :
  print("a>b")
elif a==b:
  print("a==b")  
else:
  print("b>a")

請輸入數字a:4
請輸入數字b:5
b>a

In [3]:
grade=eval(input("請輸入成績"))
print("成績評鑑:")
if grade >= 90:
    print("優等")
elif grade >=80:
    print("甲等")
elif grade >=70:
    print("乙等")
elif grade >=60:
    print("丙等")
else:
    print("不及格")

請輸入成績88
成績評鑑:
甲等

In [4]:
for i in range(10): #range(10):0, 1, 2,.....9
  print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(0,10,1): #range(0開始, 9結束(不包含10),每次進1步)
   print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
sum=0
for count in range(1, 11, 1):
  sum=sum+count
print(sum)

55

In [7]:
for c in "I am a boy":
  print(c)

I

a
m

a

b
o
y

In [8]:
for score in [90,100,88,77]:
  print(score)

90
100
88
77

In [9]:
for s in ["john","mary","tom","simpson"]:
  print(s)

john
mary
tom
simpson

In [10]:
sum=0
count=1
while count <=10:
    sum += count
    count += 1
print(sum)

55

In [11]:
for chicken in range(0,36):
    rabbit=35-chicken
    if (2*chicken+4*rabbit) == 94:
        print("雞有",chicken,"隻,兔子有",rabbit,"隻")
        break
else:
    print("無解")

雞有 23 隻,兔子有 12 隻